@use '../abstracts/variables' as *;

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}

@media (max-width: $width-mobile) {
  .about {
    grid-template-columns: 1fr;
  }
}
