$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Oswald|Roboto');

body {
  font-size: 16px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  margin-bottom: 24px;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
}

/* Font for title */
.font-cursive {
  font-family: 'Mr Dafoe', cursive;
}
