@import '~w3-css/w3';
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Oswald|Roboto');
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

$width-tablet: 1000px;

:root {
  scroll-behavior: smooth;
}

/* nav bar */
.nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.13rem;

  a:hover {
    text-decoration: none;
  }
}

/* Fonts for document */
h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0.3em auto;
}

h5,
p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  margin: 0.4em auto;
}

/* Font for title */
.font-cursive {
  font-family: 'Mr Dafoe', cursive;
}

.padding-64-bottom {
  padding-bottom: 64px;
}

.padding-32-top {
  padding-top: 32px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1.2rem;

  /* Tablets and phones: reduce size */
  @media only screen and (max-device-width: $width-tablet) {
    height: 50vh;
  }
}

/* Background image */
.header::before {
  --brightness: 0.85;
  --blur: 0.75px;
  --contrast: 115%;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: var(--img-path);
  background-size: cover;
  filter: brightness(var(--brightness)) blur(var(--blur)) contrast(var(--contrast));

  /* Modernizr checks webp support */
  .webp & {
    --img-path: url('../img/city@1920px.webp');
  }

  .no-webp & {
    --img-path: url('../img/city@1920px.jpg');
  }

  @media only screen and (max-device-width: $width-tablet) {
    --brightness: 0.5;
    --blur: 0.9px;

    /* Smaller pics for smaller devices */
    .webp & {
      --img-path: url('../img/city@1000px.webp');
    }

    .no-webp & {
      --img-path: url('../img/city@1000px.jpg');
    }
  }
}

.title {
  margin-top: 100px;

  &__text {
    font-size: 64px;
    letter-spacing: .11em;
    cursor: default;
  }
}

.contact {
  &__list {
    list-style-type: none;
    padding-left: 0px;
  }

  &__item {
    margin-top: 25px;
    // Vertically align icon and text
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 1.7rem;
  }
}

.fa-whatsapp {
  color: #009688;
}

.fa-facebook-official {
  color: #4267b2;
}

/* Footer */
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa-map-marker {
  padding-right: 6px;
}

#logo {
  height: 96px;
}
