@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe|Oswald|Lato");
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

/* Font for document */
body {
  font-family: "Lato", sans-serif !important;
}

/* Fonts for title */
.font-strong {
  font-family: Oswald, sans-serif;
}

.font-cursive {
  font-family: "Mr Dafoe", cursive;
}

@mixin parallaxEffect {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header image */
.bgimg-1 {
  @include parallaxEffect();
  background-image: url("../img/rj.webp");
  height: 100%;

  /* Tablets and phones: turn off parallax and
  reduce size of header picture */
  @media only screen and (max-device-width: 1000px) {
    background-attachment: scroll;
    height: 50%;
  }
}

body,
html {
  height: 100%; /* Necessary for the header */
  line-height: 1.8;
}

#title-box {
  margin-left: 7%;
  white-space: nowrap;
}

#title-box h1 {
  font-size: 56px;
}

div:not(.w3-top) a {
  text-decoration: none;
}

/* Space between icon and text */
.fa-map-marker {
  padding-right: 6px;
}

/* Contact list */
ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin-top: 25px;
}

.fa-whatsapp {
  color: #009688;
}

.fa-facebook-official {
  color: #4267b2;
}

/* Footer spacing */
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-col {
  margin-bottom: 30px;
}

/* Footer logo */
#logo {
  height: 96px;
}
