@import '~w3-css/w3';
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Oswald|Roboto');
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

@mixin parallaxEffect {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  scroll-behavior: smooth;
}

/* nav bar */
.nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.13rem;

  a:hover {
    text-decoration: none;
  }
}

/* Fonts for document */
h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0.3em auto;
}

h5,
p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  margin: 0.4em auto;
}

/* Font for title */
.font-cursive {
  font-family: 'Mr Dafoe', cursive;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header image */
.bgimg-1 {
  @include parallaxEffect();
  height: 100vh;

  /* Tablets and phones: turn off parallax and reduce size */
  @media only screen and (max-device-width: 1000px) {
    background-attachment: scroll;
    height: 50vh;
  }

  /* Modernizr checks webp support */
  .webp & {
    background-image: url('../img/rj.webp');
  }

  .no-webp & {
    background-image: url('../img/rj.jpg');
  }
}

.title {
  margin-left: 7%;
  white-space: nowrap;

  &__text {
    font-size: 56px;
  }
}

.contact {
  &__list {
    list-style-type: none;
    padding-left: 0px;
  }

  &__item {
    margin-top: 25px;
    // Vertically align icon and text
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: 1.7rem;
  }
}

.fa-whatsapp {
  color: #009688;
}

.fa-facebook-official {
  color: #4267b2;
}

/* Footer */
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fa-map-marker {
  padding-right: 6px;
}

#logo {
  height: 96px;
}
