/* Font for document */
body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Lato", sans-serif;
}


/* Fonts for navbar and header */
.title1 {
  font-family: Oswald, sans-serif;
}

.title2 {
  font-family: 'Mr Dafoe', cursive;
}


/* Title box */
#title-box {
  margin-left: 7%;
}

#title-box h1 {
  font-size: 56px;
}


/* Links except on navbar */
.w3-container a, footer a {
  text-decoration: none;
}


/* Big icons */
.fa-home, .fa-map-marked-alt {
  font-size: 150px !important;
}


/* Contact list */
ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin-top: 25px;
}

.w3-content .fa, .w3-content .fab {
  padding-right: 7px;   /* Space between icon and text */
}

.fa-whatsapp {
  color: #009688;
}

.fa-facebook-official {
  color: #4267b2;
}


/* Footer spacing */
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-col {
  margin-bottom: 30px;
}


/* Footer logo */
#logo {
  height: 96px;
}
